<!--creamos el dashboard-->
<div class="component-title-container">
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10%" fxLayoutAlign="center center">
  <!--card-->
  <mat-card class="carta-lista">

      <mat-card-header>
        <mat-card-title>
          Lista de Historicos - Usuarios con Agendas Atendidas.
        </mat-card-title>
      </mat-card-header>
      <!--contenido-->
      <mat-card-content>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
        </mat-form-field>
        <!--pestañas-->
        <div class="example-container">

            <mat-table [dataSource]="datasource" matSort matSortStart="desc" matSortDirection="asc">

              <!-- ID Column -->

              <!-- Progress Column -->
              <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef > Nombre </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="nombre"> {{row.nombre}}</mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="agendas">
                <mat-header-cell *matHeaderCellDef > N° Agendas </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="N° Agendas"> {{row.contador}} </mat-cell>
              </ng-container>


              <!--detalle-->
              <ng-container matColumnDef="detalle">
                <mat-header-cell *matHeaderCellDef > Detalle</mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="detalle">
                  <button mat-icon-button color="primary" (click)="cargarDatos(row.id)">
                      <mat-icon>post_add</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>

              <mat-paginator [pageSizeOptions]="[6]"></mat-paginator>
              <form >
                <button type="submit" class="mine" mat-fab color="primary">
                  <mat-icon>autorenew</mat-icon>
                </button>
              </form>

        </div>
        <!--end pestañas-->
      </mat-card-content>
      <!--end contenido-->
    </mat-card>
  <!--end card-->
</div>
