<!-- flex container mostrará a sus hijos como columnas -->
<section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
  <!--toolbar-->
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <mat-icon>fingerprint</mat-icon>
      Sivic
      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <a mat-button routerLink="login" routerLinkActive="active">Inicio de Sesión</a>
        <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Acerca de</a>
      </div>
    </mat-toolbar>
  <!--toolbar-->
  <!--contenedor este articulo toma el resto de la pantalla in altura-->
  <!--login plantilla UI-->
  <section class="flex-container">
    <router-outlet></router-outlet>
  </section>
  <!--login plantilla UI-->
</section>
