<div class="component-title-container">
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="25%" class="curso_lista">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Detalles de la agenda</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>
            <div [ngSwitch]="Agend?.tipo">
              <p *ngSwitchCase="1">Sector: Gubernamental</p>
              <p *ngSwitchCase="2">Sector: Empresarial</p>
              <p *ngSwitchCase="3">Sector: Social</p>
            </div>
            <p>Tipo de Vinculación: {{Agend.tipoVista}}</p>
            <p>Fecha: {{Agend.fecha}}</p>
            <p>Hora: {{ formatoHora }}</p>
            <p>Vinculador: {{Agend.nombre}}</p>
            <p>Observaciones: {{Agend.observaciones}}</p>
          </div>
        </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="65%" class="curso_lista">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Detalles del cliente a vincular</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-tab-group color="warn">
            <mat-tab label="Cliente">
              <div>
                  <p>Institucion: {{Agend.institucion}}</p>
                  <p>Dirección: {{Agend.direccion}}</p>
                  <p>Titular: {{Agend.nombreTitular}}</p>
                  <p>cargo: {{Agend.cargo}}</p>
                  <p>Telefóno Institucional: {{Agend.telfonoInstitucional}}</p>
                  <p>Nombre del Enlace: {{Agend.nombreEnlace}}</p>
                  <p>
                    Cargo del Enlace:
                    {{Agend.cargoEnlace}}
                  </p>
                  <p>
                    Teléfono del Enlace:
                    {{Agend.telefonoEnlace}}
                  </p>
              </div>
            </mat-tab>
            <mat-tab label="Seguimiento">
              <!--if seguimiento-->
              <ng-template [ngIf]="contador === 0" [ngIfElse]="seguimientosvinculacion">
                <!--grid list-->
                  <mat-grid-list cols="1" rowHeight="3:1">
                    <mat-grid-tile><h1>No hay Datos Asociados a esta vinculación!</h1></mat-grid-tile>
                  </mat-grid-list>
                <!--grid list end-->
              </ng-template>
              <!--ng template-->
              <ng-template #seguimientosvinculacion>
                <div fxLayout="row" fxLayout.xs="column">
                  <div fxFlex="50%" class="curso_lista">
                      <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title>Comentarios</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <p> {{ propuesta }} </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <ng-template [ngIf]="statusSeguimiento === 2">
                            <form [formGroup]="seguimientoForm" (ngSubmit)="updateVinculacion()">
                              <!--vamos a generar un select-->
                              <mat-form-field class="contenedor-vinculacion">
                                <mat-label>Seleccionar</mat-label>
                                <mat-select formControlName="seguimientoOption" required>
                                  <mat-option>--</mat-option>
                                  <mat-option value="5">Terminar</mat-option>
                                  <mat-option value="4">Devolver</mat-option>
                                </mat-select>
                                <mat-error *ngIf="seguimientoForm.get('seguimientoOption').invalid">Selecciona una opción</mat-error>
                              </mat-form-field>
                              <!--select end-->
                              <br/>
                              <!--boton-->
                              <button type="submit" [disabled]="!seguimientoForm.valid || isOnload" mat-raised-button color="primary">
                                <mat-icon>send</mat-icon>
                                Enviar
                              </button>
                              <!--boton end-->
                              <!--input type hidden-->
                              <input type="hidden" formControlName="id"/>
                            </form>
                          </ng-template>
                        </mat-card-actions>
                      </mat-card>
                  </div>
                  <!--div comentario end-->
                  <div fxFlex="50%" class="curso_lista">
                      <mat-card class="example-card">
                        <mat-card-content>
                          <div class="file-drop-area" *ngFor="let detail of Detalles">
                            <ng-template [ngIf]="detail.extension === 'jpg' || detail.extension === 'png' || detail.extension === 'jpeg'" [ngIfElse]="pdftemplate">
                              <div class="imgfile">
                                <img src="{{ detail.ruta }}" alt="{{ detail.ruta }}">
                              </div>
                            </ng-template>
                            <ng-template #pdftemplate>
                              <div class="imgfilepdf">
                                <img src="assets/img/Catalogocursopdf.jpg" alt="{{ detail.ruta }}"/>
                              </div>
                            </ng-template>
                              <div class="nombreArchivo">
                                <p>Nombre del Archivo:</p>
                                {{ detail.nombreArchivo }}
                              </div>
                          </div>
                        </mat-card-content>
                      </mat-card>
                  </div>
                  <!--div detalles end-->
                </div>
              </ng-template>
              <!--end if-->
            </mat-tab>
            <mat-tab label="Cuestionario DNC">
              <app-cuestionariodncseguimiento [datosCuestionarioDnc]="this.Agend"></app-cuestionariodncseguimiento>
            </mat-tab>
            <!--tab cursos-->
            <mat-tab label="Cursos">
              <app-seguimientoscursos></app-seguimientoscursos>
            </mat-tab>
            <!--tab cursos end-->
            <!--se agregara un mat tab si la validacion lo permite-->
            <ng-template [ngIf]="statusSeguimiento > 1 || statusSeguimiento < 5">
              <mat-tab label="Comentario">
                <div class="contenedor-comentario">
                  <mat-form-field>
                    <textarea matInput placeholder="Comentario"></textarea>
                  </mat-form-field>
                </div>
                <!--botón comentario-->
                <button mat-raised-button color="primary">
                  <mat-icon>comment</mat-icon>
                  Comentar
                </button>
                <div class="contenedor-comentario">
                  <mat-divider></mat-divider>
                  <h3 mat-subheader>Comentario</h3>
                  <mat-list role="list">
                    <mat-list-item role="listitem"> <mat-icon mat-list-icon>comment</mat-icon>Item 1</mat-list-item>
                    <mat-list-item role="listitem"> <mat-icon mat-list-icon>comment</mat-icon>Item 2</mat-list-item>
                    <mat-list-item role="listitem"> <mat-icon mat-list-icon>comment</mat-icon>Item 3</mat-list-item>
                  </mat-list>
                </div>
              </mat-tab>
            </ng-template>
          </mat-tab-group>
        </mat-card-content>
    </mat-card>
  </div>
  <!---->
  <div fxFlex>
  </div>
</div>
