.radio-group-capital {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.empleo-radio {
  margin: 5px;
}
.radio-group {
  padding-bottom: 2em;
}
.help-block {
  color: rgb(230, 14, 14);
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
  margin-bottom: 2em;
}
