$crm-command-bar-height-desktop: 3px !default;
// $crm-command-bar-height-mobile: 48px !default;
$crm-command-bar-height-mobile: 0 !default;

$crm-view-bar-height-desktop: 96px !default;
$crm-view-bar-height-mobile: 84px !default;

//

$crm-component-title-margin: 16px !default;
$mat-xsmall: 'max-width: 599px';
$mat-small: 'max-width: 959px';

// https://github.com/angular/material2/blob/master/src/lib/toolbar/toolbar.scss

$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile: 3px !default;
$mat-toolbar-row-padding: 16px !default;

.component-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: $crm-view-bar-height-desktop;
  min-height: $crm-view-bar-height-desktop;

  margin-top: $mat-toolbar-height-desktop + $crm-command-bar-height-desktop;

  @media ($mat-xsmall) {
    height: $crm-view-bar-height-mobile;
    min-height: $crm-view-bar-height-mobile;

    margin-top: $mat-toolbar-height-mobile + $crm-command-bar-height-mobile;
  }
}

.carta-lista {
    width: 85%;
    margin-bottom: 2%;
}
.tab-actions {
  display: inline-block;
  position: fixed;
  bottom: 50px;
  right: 30px;
}
.ct-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.tp-margin {
  flex: 0 1 auto;
  align-self: center;
}

@media screen and (max-width: 960px) {

  .mat-table {
      border: 0;
      vertical-align: middle
    }

    .mat-table caption {
      font-size: 1em;
    }

    .mat-table .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
    }

    .mat-table .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      height:30px;
      margin-bottom: 4%;
      padding-left: 24px;
      padding-right: 24px;
    }

    .mat-table .mat-cell:before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;

      font-size: .85em;
    }

    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
      .mat-table .mat-cell:first-child {
      margin-top: 4%;
    }
}

// mat spinner
.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 998;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.mine{
  position: fixed;
    bottom: 100px;
    right: 50px;
}

.mat-form-field {
  font-size: 18px;
  width: 100%;
}
