.login-wrapper .example-form{min-width:100%;max-width:300px;width:100%;}
.carta {
  position:relative;top:0;opacity:1;float:left;padding:60px 50px 40px 50px;width:100%;background:#fff;border-radius:10px;transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);z-index:5;max-width:330px;
}
.example-full-width{
  display: flex;
  flex-direction: column;
}

.login-wrapper .btn-block, .login-wrapper .submit{
  width:100%;
}

.invalid-feedback > *{
  width: 100%;
}

.example-full-width > * {
  width: 100%;
}

mat-card {
  margin: 2em;
}

.example-header-image {
  background-image: url('../../../assets/img/user.png');
  background-size: cover;
}
.submit {
  margin-left: 7em;
  margin-top: -2.5em;
}

// contenido
$crm-command-bar-height-desktop: 3px !default;
// $crm-command-bar-height-mobile: 48px !default;
$crm-command-bar-height-mobile: 0 !default;

$crm-view-bar-height-desktop: 56px !default;
$crm-view-bar-height-mobile: 84px !default;

//

$crm-component-title-margin: 16px !default;
$mat-xsmall: 'max-width: 599px';
$mat-small: 'max-width: 959px';

// https://github.com/angular/material2/blob/master/src/lib/toolbar/toolbar.scss

$mat-toolbar-height-desktop: 60px !default;
$mat-toolbar-height-mobile: 3px !default;
$mat-toolbar-row-padding: 16px !default;

.component-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: $crm-view-bar-height-desktop;
  min-height: $crm-view-bar-height-desktop;

  margin-top: $mat-toolbar-height-desktop + $crm-command-bar-height-desktop;

  @media ($mat-xsmall) {
    height: $crm-view-bar-height-mobile;
    min-height: $crm-view-bar-height-mobile;

    margin-top: $mat-toolbar-height-mobile + $crm-command-bar-height-mobile;
  }
}