<!--creamos el dashboard-->
<div class="component-title-container">
</div>

<div #contentContainer class="content-container">
  <!--div flex layout-->
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="25%" class="carta-lista">
        <mat-card class="example-card alternate-themes">
            <mat-card-header>
              <mat-card-title>Estados de la agenda</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-chip-list aria-label="Fish selection">
                <mat-chip color="warn" selected>Agendado</mat-chip>
                <mat-chip color="accent" selected>Atendido</mat-chip>
                <mat-chip color="primary" selected>En revisión</mat-chip>
              </mat-chip-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="75%">
        <mat-card class="carta-lista">
            <mat-card-header>
            </mat-card-header>
            <mat-card-content>
              <full-calendar *ngIf="options"
                  #calendario
                  [buttonText]="options.buttonText"
                  [events] = "calendarEvents"
                  [height]="options.height"
                  [locale]="options.locale"
                  defaultView="dayGridMonth"
                  [plugins]="calendarPlugins"
                  (eventClick)="eventClick($event)"></full-calendar>
            </mat-card-content>
        </mat-card>
    </div>
  </div>
</div>
