<div class="component-title-container">
</div>
<!--div-->
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10%" fxLayoutAlign="center center">
  <!--seccion spinner-->

  <!--fin seccion spinner-->
<!--card-->
  <mat-card class="carta-lista">

    <mat-card-header>
      <mat-card-title>
        Lista de Seguimiento
      </mat-card-title>
    </mat-card-header>
    <!--contenido-->
    <mat-card-content>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>
      <!--pestañas-->
      <div class="example-container">

          <mat-table [dataSource]="datasource" matSort matSortStart="desc" matSortDirection="asc">

            <!-- ID Column -->
            <ng-container matColumnDef="fecha">
              <mat-header-cell *matHeaderCellDef > Fecha </mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="fecha"> {{row.fecha | date: 'dd/MM/yyyy' }} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="institucion">
              <mat-header-cell *matHeaderCellDef > institución </mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="institucion"> {{row.institucion}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="tipo">
              <mat-header-cell *matHeaderCellDef > Acercamiento </mat-header-cell>
              <mat-cell *matCellDef="let row" [style.color]="yellow" data-label="tipo"> {{row.tipoVista}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="titular">
              <mat-header-cell *matHeaderCellDef >Titular</mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="titular">{{ row.nombreTitular }}</mat-cell>
            </ng-container>


            <!--detalle-->
            <ng-container matColumnDef="detalle">
              <mat-header-cell *matHeaderCellDef > Detalle</mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="detalle">
                <button mat-icon-button color="primary" >
                    <mat-icon>more_horiz</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>

            <mat-paginator [pageSizeOptions]="[6]"></mat-paginator>
            <form>
              <button type="submit" class="mine" mat-fab color="primary">
                <mat-icon>autorenew</mat-icon>
              </button>
            </form>
      </div>
      <!--end pestañas-->
    </mat-card-content>
    <!--end contenido-->
  </mat-card>
<!--end card-->
</div>
<!--end div-->
