<div class="component-title-container"></div>


  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <!--primer div-->
    <div fxFlex="30%" class="curso_lista">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Cursos del Instituto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Elegir un curso</mat-label>
            <mat-select (selectionChange)="getCursosby($event.value)">
              <mat-option *ngFor="let categoria of catCurso" [value]="categoria.id">
                {{ categoria.categoria }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div [hidden]="!show">
            <mat-progress-spinner color="warn" mode="indeterminate" [diameter]="25" *ngIf="spinnerService.visibility">
            </mat-progress-spinner> procesando...
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!--segundo div-->
    <div fxFlex="60%" class="curso_lista">
      <mat-card>
        <mat-card-content>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda">
          </mat-form-field>
          <!--tabla-->
          <mat-table [dataSource]="datasource" matSort matSortStart="desc" matSortDirection="asc">
                <!-- Progress Column -->
                <ng-container matColumnDef="curso">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Cursos </mat-header-cell>
                  <mat-cell *matCellDef="let row" data-label="curso"> {{row.curso}}</mat-cell>
                </ng-container>

                <!-- ID Column -->

                <ng-container matColumnDef="modalidad">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Modalidad </mat-header-cell>
                  <mat-cell *matCellDef="let row" data-label="modalidad"> {{row.modalidad}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="clasificacion">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Clasificación </mat-header-cell>
                  <mat-cell *matCellDef="let row" data-label="clasificacion"> {{row.clasificacion}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="costo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> costo </mat-header-cell>
                  <mat-cell *matCellDef="let row" [style.color]="yellow" data-label="tipo"> $ {{row.costo}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="detalle">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Detalles</mat-header-cell>
                  <mat-cell *matCellDef="let row" data-label="detalle">
                    <button mat-icon-button color="primary" (click)="openDialog(row.id)">
                        <mat-icon class="mat-18">visibility</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <!--end tabla-->

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
