@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// importamos otra paleta de colores
$my-third-custom-palette: (
    50 : #e0e0e0,
    100 : #b3b3b3,
    200 : #808080,
    300 : #4d4d4d,
    400 : #262626,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// importamos las paletas de colores que necesitamos
$my-primary-custom-palette: (
    50 : #ece2e6,
    100 : #d0b8c1,
    200 : #b18898,
    300 : #91586f,
    400 : #7a3550,
    500 : #621131,
    600 : #5a0f2c,
    700 : #500c25,
    800 : #460a1f,
    900 : #340513,
    A100 : #ff6d8d,
    A200 : #ff3a65,
    A400 : #ff073d,
    A700 : #ec0034,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
// custom color secundario
$my-secondary-custom-palette: (
    50 : #f6f3eb,
    100 : #e7e0ce,
    200 : #d8ccad,
    300 : #c8b88c,
    400 : #bca874,
    500 : #b0995b,
    600 : #a99153,
    700 : #a08649,
    800 : #977c40,
    900 : #876b2f,
    A100 : #ffefcf,
    A200 : #ffdd9c,
    A400 : #ffcc69,
    A700 : #ffc44f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-custom-blue-palette: (
    50 : #e2eaf2,
    100 : #b6cbdf,
    200 : #85a9ca,
    300 : #5487b4,
    400 : #306da4,
    500 : #0b5394,
    600 : #0a4c8c,
    700 : #084281,
    800 : #063977,
    900 : #032965,
    A100 : #95b6ff,
    A200 : #6294ff,
    A400 : #2f71ff,
    A700 : #155fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$my-orange-palette: (
  50 : #ffffed,
  100 : #feffd1,
  200 : #feffb3,
  300 : #feff94,
  400 : #fdff7d,
  500 : #fdff66,
  600 : #fdff5e,
  700 : #fcff53,
  800 : #fcff49,
  900 : #FF8C00,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #feffe1,
  A700 : #feffc8,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);




// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-custom-primary: mat-palette($my-primary-custom-palette, 500, 700, 200);
$my-custom-accent:  mat-palette($my-secondary-custom-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$my-custom-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-custom-theme);

// temas alternativos
.alternate-themes {
  $alternate-primary: mat-palette($my-custom-blue-palette, 600);
  $alternate-accent: mat-palette($my-orange-palette, 900);
  $alternate-warn: mat-palette($my-orange-palette, 800);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent, $alternate-warn);

  @include angular-material-theme($alternate-theme);
}
