<div class="component-title-container">
</div>
<!--contenido-->
<div class="content" [ngSwitch]="userRole">
  <ng-template [ngSwitchCase]="'Directores'">
    <!--contenido-->
    <div class="mb-20" fxLayout="row wrap"  fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
        <!--nuevo dashboard-->
          <div fxFlex>
            <app-shared [bgclass]="'danger'" [icon]="'link'" [contador]="13" [label]="'Vinculaciones Totales'"></app-shared>
          </div>
        <!--fin nuevo dashboard-->
        <!--dashboard item-->
        <div fxFlex>
          <app-shared [bgclass]="'warn'" [icon]="'group_work'" [contador]="12" [label]="'Vinculaciones en Seguimiento'"></app-shared>
        </div>
        <!--fin dashboard item-->
        <!--dashboard item-->
        <div fxFlex>
          <app-shared [bgclass]="'success'" [icon]="'done_all'" [contador]="124" [label]="'Vinculaciones Terminadas'"></app-shared>
        </div>
        <!--fin dashboard item-->
        <!--dashboard item-->
        <div fxFlex>
          <app-shared [bgclass]="'info'" [icon]="'contact_support'" [contador]="13" [label]="'New Tickets!'"></app-shared>
        </div>
        <!--fin dashboard item-->

    </div>
    <div fxLayout="row wrap"  fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex>
          <app-shared [bgclass]="'warn'" [icon]="'library_books'" [contador]="552" [label]="'Cursos'"></app-shared>
        </div>
        <!--fin dashboard item-->
        <!--dashboard item-->
        <div fxFlex>
          <app-shared [bgclass]="'success'" [icon]="'done_all'" [contador]="124" [label]="'Vinculaciones Terminadas'"></app-shared>
        </div>
        <!--fin dashboard item-->
        <!--dashboard item-->
        <div fxFlex>
          <app-shared [bgclass]="'info'" [icon]="'contact_support'" [contador]="13" [label]="'New Tickets!'"></app-shared>
        </div>
    </div>
    <!--contenido END-->
  </ng-template>
  <!--plantilla-->
  <ng-template [ngSwitchCase]="'Vinculador'">
      <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
        <!--div-->
        <div fxFlex>
          <mat-card class="cards">
              <img mat-card-image src="https://picsum.photos/id/237/200/300">
              <mat-card-header style="justify-content: center">
                  <mat-card-title>
                      <h3 class="m-0">Office Studio</h3>
                  </mat-card-title>
              </mat-card-header>
              <mat-card-actions>
                  <button mat-button>
                      <mat-icon class="nav-icon">location_on</mat-icon> Localidad
                  </button>
              </mat-card-actions>
          </mat-card>
          <!--div-->
        </div>
        <!--div-->
        <div fxFlex>
          <mat-card class="cards">
              <img mat-card-image src="https://picsum.photos/200/300?grayscale">
              <mat-card-header style="justify-content: center">
                  <mat-card-title>
                      <h3 class="m-0">Office Studio</h3>
                  </mat-card-title>
              </mat-card-header>
              <mat-card-actions>
                  <button mat-button>
                      <mat-icon class="nav-icon">location_on</mat-icon> Localidad
                  </button>
              </mat-card-actions>
          </mat-card>
        </div>
        <!--div-->
        <div fxFlex>
          <mat-card class="cards">
              <img mat-card-image src="https://picsum.photos/200/300/?blur=2">
              <mat-card-header style="justify-content: center">
                  <mat-card-title>
                      <h3 class="m-0">Office Studio</h3>
                  </mat-card-title>
              </mat-card-header>
              <mat-card-actions>
                  <button mat-button>Hola Nuevamente</button>
              </mat-card-actions>
          </mat-card>
        </div>
      </div>
  </ng-template>

</div>
