<div class="component-title-container">
</div>
<!--contenido-->
<div class="content" [ngSwitch]="userRole$">
  <ng-container *ngSwitchCase="'Directores'">
    <!--contenido-->
    <div class="mb-20" fxLayout="row wrap"  fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
        <!--nuevo dashboard-->
          <div fxFlex>
            <app-shared [bgclass]="'info'" [icon]="'link'" [contador]="resultCount" [label]="'Agendado'"></app-shared>
          </div>
        <!--fin nuevo dashboard-->
        <!--dashboard item-->
        <div fxFlex>
          <app-shared [bgclass]="'warn'" [icon]="'device_hub'" [contador]="resultCountSeguimiento" [label]="'Atendidos'"></app-shared>
        </div>
        <!--fin dashboard item-->
        <!--dashboard item-->
        <div fxFlex>
          <app-shared [bgclass]="'success'" [icon]="'done_all'" [contador]="resultCountTerminado" [label]="'Vinculaciones Exitosas'"></app-shared>
        </div>
        <!--fin dashboard item-->

    </div>
    <div fxLayout="row wrap"  fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">

        <div fxFlex>
          <!--app stat-->
          <app-shared [bgclass]="'success'" [icon]="'done'" [contador]="0" [label]="'Cursos Vendidos'"></app-shared>
          <!--app star end-->
        </div>

        <div fxFlex>
          <app-shared [bgclass]="'warn'" [icon]="'library_books'" [contador]="552" [label]="'Cursos Disponibles'"></app-shared>
        </div>
        <!--fin dashboard item-->
        <!--dashboard item-->
        <div fxFlex>
          <app-shared [bgclass]="'info'" [icon]="'perm_identity'" [contador]="124" [label]="'Vinculadores'"></app-shared>
        </div>
        <!--fin dashboard item-->
        <!--dashboard item-->
        <!-- <div fxFlex>
          <app-shared [bgclass]="'info'" [icon]="'contact_support'" [contador]="13" [label]="'New Tickets!'"></app-shared>
        </div> -->
    </div>
  <!--contenido END-->
  </ng-container>
  <!--plantilla-->
  <ng-container *ngSwitchCase="'Vinculador'">
      <div class="mb-20" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
        <!--div-->
        <div fxFlex>
          <app-stat [bgC]="'info'" [icons]="'info'" [counts]="resultCount" [labels]="'Agendado'"></app-stat>
          <!--div-->
        </div>
        <!--div-->
        <div fxFlex>
          <!--app stat-->
          <app-stat [bgC]="'warn'" [icons]="'device_hub'" [counts]="resultCountSeguimiento" [labels]="'Atendidos'"></app-stat>
          <!--app star-->
        </div>
        <!--div fxFlex-->
        <div fxFlex>
          <!--app stat-->
          <app-stat [bgC]="'success'" [icons]="'done'" [counts]="resultCountTerminado" [labels]="'Exitosas'"></app-stat>
          <!--app star end-->
        </div>
        <!--div fxFlex-->
        <!--div-->
      </div>
      <div fxLayout="row wrap"  fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex>
          <!--app stat-->
          <app-stat [bgC]="'success'" [icons]="'done'" [counts]="0" [labels]="'Cursos Vendidos'"></app-stat>
          <!--app star end-->
        </div>

        <div fxFlex>
          <mat-card class="cards">
              <img mat-card-image src="../../../assets/img/vinculacion.png">
              <mat-card-header style="justify-content: center">
              </mat-card-header>
              <mat-card-actions>
                  <button mat-button>Ver Agendas</button>
              </mat-card-actions>
          </mat-card>
        </div>

      </div>
  </ng-container>
  <!--plantilla administrador-->
  <ng-container *ngSwitchCase="'Super_usuario'">
    <app-admin-dashboard></app-admin-dashboard>
  </ng-container>
</div>
