<div class="component-title-container">
</div>
<!--contenido-->
<div class="content" [ngSwitch]="userRole$">
  <ng-container *ngSwitchCase="'Directores'">
    <!--contenido-->
    <div class="mb-20" fxLayout="row wrap"  fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
        <!--nuevo dashboard-->
          <div fxFlex>
            <app-shared [bgclass]="'danger'" [icon]="'link'" [contador]="resultCount" [label]="'Vinculaciones Totales'"></app-shared>
          </div>
        <!--fin nuevo dashboard-->
        <!--dashboard item-->
        <div fxFlex>
          <app-shared [bgclass]="'warn'" [icon]="'group_work'" [contador]="resultCountSeguimiento" [label]="'Vinculaciones en Seguimiento'"></app-shared>
        </div>
        <!--fin dashboard item-->
        <!--dashboard item-->
        <div fxFlex>
          <app-shared [bgclass]="'success'" [icon]="'done_all'" [contador]="124" [label]="'Vinculaciones Terminadas'"></app-shared>
        </div>
        <!--fin dashboard item-->
        <!--dashboard item-->
        <div fxFlex>
          <app-shared [bgclass]="'info'" [icon]="'contact_support'" [contador]="13" [label]="'New Tickets!'"></app-shared>
        </div>
        <!--fin dashboard item-->

    </div>
    <div fxLayout="row wrap"  fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex>
          <app-shared [bgclass]="'warn'" [icon]="'library_books'" [contador]="552" [label]="'Cursos'"></app-shared>
        </div>
        <!--fin dashboard item-->
        <!--dashboard item-->
        <div fxFlex>
          <app-shared [bgclass]="'success'" [icon]="'done_all'" [contador]="124" [label]="'Vinculaciones Terminadas'"></app-shared>
        </div>
        <!--fin dashboard item-->
        <!--dashboard item-->
        <div fxFlex>
          <app-shared [bgclass]="'info'" [icon]="'contact_support'" [contador]="13" [label]="'New Tickets!'"></app-shared>
        </div>
    </div>
  <!--contenido END-->
  </ng-container>
  <!--plantilla-->
  <ng-container *ngSwitchCase="'Vinculador'">
      <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
        <!--div-->
        <div fxFlex>
          <app-stat [bgC]="'info'" [icons]="'info'" [counts]="resultCount" [labels]="'Total Vinculaciones'"></app-stat>
          <!--div-->
        </div>
        <!--div-->
        <div fxFlex>
          <!--app stat-->
          <app-stat [bgC]="'success'" [icons]="'done'" [counts]="resultCountSeguimiento" [labels]="'Vinculaciones en Seguimiento'"></app-stat>
          <!--app star-->
        </div>
        <!--div fxFlex-->
        <div fxFlex>
          <!--app stat-->
          <app-stat [bgC]="'danger'" [icons]="'chrome_reader_mode'" [counts]="12" [labels]="'No atendidas'"></app-stat>
          <!--app star end-->
        </div>
        <!--div fxFlex-->
        <!--div-->
        <div fxFlex>
          <mat-card class="cards">
              <img mat-card-image src="../../../assets/img/vinculacion.jpg">
              <mat-card-header style="justify-content: center">
                  <mat-card-title>
                      <h3 class="m-0">Office Studio</h3>
                  </mat-card-title>
              </mat-card-header>
              <mat-card-actions>
                  <button mat-button>Hola Nuevamente</button>
              </mat-card-actions>
          </mat-card>
        </div>
      </div>
  </ng-container>
</div>
